<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://115.28.49.135/tg/freechat.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://thumbnail0.baidupcs.com/thumbnail/5b5b55967e10abaad5c127a76661aca7?fid=1343578447-250528-26600557862996&time=1461031200&rt=sh&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-wxu5Q%2BYObSzNGLl%2B90pL3Kw0udA%3D&expires=8h&chkv=0&chkbd=0&chkpc=&dp-logid=2537759456867371390&dp-callid=0&size=c710_u400&quality=100</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://thumbnail0.baidupcs.com/thumbnail/6d9fc361e1d49c947be6b5c9ce5c25f4?fid=1343578447-250528-549724657934237&time=1461031200&rt=sh&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-%2Feds4VatGVmjmHqAF7bZMOYV8CU%3D&expires=8h&chkv=0&chkbd=0&chkpc=&dp-logid=2537767042046696735&dp-callid=0&size=c710_u400&quality=100</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.telegramm.cn</string>
                <key>bundle-version</key>
                <string>3.6.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>苏州科瑞特科技有限公司</string>
                <key>title</key>
                <string>freechat</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
